In [26]:
# Bases de datos de mi servidor

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='tienda')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

bbdd = []

for x in mycursor:
  bbdd.append(x[0])

print(bbdd)

bbdd.index('northwind')

['information_schema', 'leccion-1-sql', 'leccion-10-sql', 'leccion-11-sql', 'leccion-12-sql', 'leccion-13-sql', 'leccion-14-sql', 'leccion-2-sql', 'leccion-3-sql', 'leccion-4-sql', 'leccion-5-sql', 'leccion-6-sql', 'leccion-7-sql', 'leccion-8-sql', 'leccion-9-sql', 'mysql', 'northwind', 'performance_schema', 'sakila', 'sys', 'tienda', 'world']

16

In [14]:
# Cuales son las tablas de mi BBDD

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")


list_tablas = []
for x in mycursor:
    list_tablas.append(x[0])

print(list_tablas)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

In [31]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute(f"SELECT * FROM COLUMNS WHERE TABLE_NAME = 'employees'")


for i in mycursor:
    print(i)

CMySQLCursor: SELECT * FROM COLUMNS WHERE TABLE_NAME =..

In [ ]:
for tabla in list_tablas:

    myresult = mycursor.execute(f"SELECT * FROM COLUMNS WHERE TABLE_NAME = '{tabla}'")

    for i in myresult:

        if i == 'northwind':

         print(myresult)

In [ ]:
#QUERY PARA QUE DE LOS NOMBRES DE LAS COLUMNAS SIN HACER TODO EL LIO ANTERIOR
#SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind' ;

In [9]:
# Extraer el primer pedido donde se ha gastado m√°s

import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="northwind"
)

mycursor = mydb.cursor()

query = ('SELECT order_id, SUM(unit_price*quantity) FROM order_details GROUP BY order_id  ORDER BY  SUM(unit_price*quantity) DESC;')

mycursor.execute(query)

myresult = mycursor.fetchone()

print(myresult)

(10865, 17250.0)