In [1]:
# EJERCICIO 1: cuales son las bases de datos de mi servidor

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='tienda')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

bbdd = []

for x in mycursor:
  bbdd.append(x[0])

print(bbdd)

bbdd.index('northwind')

['BD_pruebas', 'information_schema', 'leccion-1-sql', 'leccion-10-sql', 'leccion-11-sql', 'leccion-12-sql', 'leccion-13-sql', 'leccion-14-sql', 'leccion-2-sql', 'leccion-3-sql', 'leccion-4-sql', 'leccion-5-sql', 'leccion-6-sql', 'leccion-7-sql', 'leccion-8-sql', 'leccion-9-sql', 'mi_primerita_BBDD_Python', 'mysql', 'northwind', 'performance_schema', 'project1', 'sakila', 'sys', 'tienda', 'world']

18

In [2]:
# EJERCICIO 2: Cuales son las tablas de mi BBDD northwind

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")


list_tablas = []
for x in mycursor:
    list_tablas.append(x[0])

print(list_tablas)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

In [14]:
# EJERCICIO 3: Qué columnas tiene cada una de las tablas

import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'")


for i in mycursor:
    print(i)

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_desc')
('customer_demographics', 'customer_type_id')
('customers', 'address')
('customers', 'city')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'country')
('customers', 'customer_id')
('customers', 'fax')
('customers', 'phone')
('customers', 'postal_code')
('customers', 'region')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'address')
('employees', 'birth_date')
('employees', 'city')
('employees', 'country')
('employees', 'employee_id')
('employees', 'extension')
('employees', 'first_name')
('employees', 'hire_date')
('employees', 'home_phone')
('employees', 'last_name')
('employees', 'notes')
('employees', 'photo')
('employees', 'photo_path')
('employees', 'postal_code')
('employees', 'region')
('employees', 'reports_to')
('employees', 'title')
('employees', 'title_of_courtesy')
('order_details', 'discount')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'quantity')
('order_details', 'unit_price')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'freight')
('orders', 'order_date')
('orders', 'order_id')
('orders', 'required_date')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_country')
('orders', 'ship_name')
('orders', 'ship_postal_code')
('orders', 'ship_region')
('orders', 'ship_via')
('orders', 'shipped_date')
('products', 'category_id')
('products', 'discontinued')
('products', 'product_id')
('products', 'product_name')
('products', 'quantity_per_unit')
('products', 'reorder_level')
('products', 'supplier_id')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('region', 'region_description')
('region', 'region_id')
('shippers', 'company_name')
('shippers', 'phone')
('shippers', 'shipper_id')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'country')
('suppliers', 'fax')
('suppliers', 'home_page')
('suppliers', 'phone')
('suppliers', 'postal_code')
('suppliers', 'region')
('suppliers', 'supplier_id')
('territories', 'region_id')
('territories', 'territory_description')
('territories', 'territory_id')

In [7]:
# EJERCICIO 4: querys en python

# Extraer el primer pedido donde se ha gastado más

import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="northwind"
)

mycursor = mydb.cursor()

query = ('SELECT order_id, SUM(unit_price*quantity) FROM order_details GROUP BY order_id  ORDER BY  SUM(unit_price*quantity) DESC')

mycursor.execute(query)

myresult = mycursor.fetchone()

print(myresult)

(10865, 17250.0)

In [5]:
# Devolver todos los pedidos y cuanto se ha gastado en cada uno

import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="northwind"
)

mycursor = mydb.cursor()

query = ('SELECT order_id, SUM(unit_price*quantity) FROM order_details GROUP BY order_id  ORDER BY  SUM(unit_price*quantity) DESC;')

mycursor.execute(query)

myresult = mycursor.fetchall()

print(myresult)

[(10865, 17250.0), (11030, 16321.900000000001), (10981, 15810.0), (10372, 12281.2), (10424, 11493.2), (10817, 11490.7), (10889, 11380.0), (10417, 11283.2), (10897, 10835.240000000002), (10353, 10741.6), (10515, 10588.5), (10479, 10495.6), (10540, 10191.7), (10691, 10164.8), (11032, 8902.5), (10816, 8891.0), (10514, 8623.45), (10912, 8267.400000000001), (10360, 7390.2), (10776, 6984.5), (11021, 6941.49), (11017, 6750.0), (10993, 6527.25), (10633, 6483.05), (10607, 6475.400000000001), (10895, 6379.4), (10612, 6375.0), (10595, 6300.0), (10687, 6201.9), (10847, 6164.9), (10324, 6155.9), (10430, 5796.0), (10440, 5793.1), (10351, 5677.6), (10893, 5502.11), (10678, 5256.5), (11072, 5218.0), (10616, 5032.0), (10634, 4985.5), (10990, 4931.0), (11008, 4903.5), (10694, 4825.0), (10329, 4819.400000000001), (10979, 4813.5), (10941, 4769.0), (10510, 4735.4400000000005), (11064, 4722.3), (10836, 4705.5), (10953, 4675.0), (10658, 4668.0), (10666, 4666.9400000000005), (10841, 4581.0), (10745, 4529.8), (10711, 4451.7), (10949, 4422.0), (10657, 4371.6), (10762, 4337.0), (10605, 4326.0), (10451, 4277.4), (10672, 4210.5), (10549, 4181.5), (10530, 4180.0), (10305, 4157.0), (10518, 4150.05), (10845, 4059.0), (10801, 4035.8), (10267, 4031.0), (10802, 3923.75), (10588, 3900.0), (10458, 3891.0), (10401, 3868.6), (10988, 3772.0), (11056, 3740.0), (10252, 3730.0), (10789, 3687.0), (10555, 3680.5), (11053, 3658.75), (10359, 3654.4), (10938, 3642.5), (10772, 3603.2200000000003), (10698, 3600.73), (11033, 3592.0), (10962, 3584.0), (10861, 3523.4), (10688, 3490.0), (10854, 3490.0), (10339, 3463.2), (10718, 3463.0), (10709, 3424.0), (10701, 3370.0), (10760, 3304.0), (10393, 3302.6000000000004), (10524, 3192.65), (10490, 3163.2), (10886, 3127.5), (10298, 3127.0), (10742, 3118.0), (10567, 3109.0), (10823, 3107.5), (11039, 3090.0), (10757, 3082.0), (10400, 3063.0), (10286, 3016.0), (10511, 3000.0), (10852, 2984.0), (11012, 2974.0), (10714, 2941.0), (10345, 2924.8), (10382, 2900.0), (10894, 2898.0), (10637, 2896.25), (10796, 2878.08), (10991, 2870.0), (10344, 2856.0), (10561, 2844.5), (10316, 2835.0), (10713, 2827.9), (10546, 2812.0), (10629, 2775.05), (10805, 2775.0), (10987, 2772.0), (11001, 2769.0), (10787, 2760.8), (10851, 2740.0), (10398, 2736.0), (10638, 2720.05), (10465, 2719.0), (10523, 2715.9), (10402, 2713.5), (10302, 2708.7999999999997), (10618, 2697.5), (10831, 2684.4), (10455, 2684.0), (10522, 2657.8), (11007, 2633.9), (10857, 2630.95), (10516, 2614.5), (10755, 2598.0), (10570, 2595.0), (10838, 2584.5), (10340, 2564.4), (10335, 2545.2), (10703, 2545.0), (10764, 2540.0), (10369, 2527.2), (10431, 2523.0), (10795, 2499.25), (10593, 2493.0), (10255, 2490.5), (10756, 2487.5), (10337, 2467.0), (10263, 2464.8), (10930, 2455.0), (10513, 2427.5), (10583, 2413.9), (11031, 2393.5), (10598, 2388.5), (11068, 2384.8), (10948, 2362.25), (10519, 2356.0), (10693, 2334.0), (10395, 2333.2000000000003), (10314, 2327.0), (10746, 2311.7), (10766, 2310.0), (10670, 2301.75), (10342, 2300.8), (10533, 2295.2), (10804, 2290.4), (10601, 2285.0), (10855, 2275.25), (10390, 2275.2), (10361, 2273.6), (10327, 2262.5), (10985, 2248.2), (10332, 2233.6), (10977, 2233.0), (10384, 2222.3999999999996), (10986, 2220.0), (10773, 2216.25), (10436, 2210.8), (10419, 2208.0), (10892, 2200.0), (10748, 2196.0), (10285, 2179.2), (10290, 2169.0), (10872, 2166.8), (10541, 2162.8), (11028, 2160.0), (10535, 2156.5), (10575, 2147.4), (10558, 2142.9), (10273, 2142.4), (10413, 2123.2), (10452, 2096.0), (10877, 2086.0), (10536, 2085.0), (10871, 2083.4), (10573, 2082.0), (10814, 2070.0), (10641, 2054.0), (10964, 2052.5), (10461, 2051.6), (10503, 2048.5), (10700, 2048.0), (10566, 2040.0), (10924, 2034.5), (10663, 2032.0), (10258, 2018.6), (10406, 2018.2), (10868, 2004.6), (10731, 1990.0), (10997, 1980.0), (10830, 1974.0), (11024, 1966.81), (10330, 1940.0), (10921, 1936.0), (10918, 1930.0), (10646, 1928.0), (10791, 1926.0600000000002), (10932, 1925.4999999999998), (10904, 1924.25), (10667, 1921.0), (10786, 1913.85), (10747, 1912.85), (10547, 1908.0), (10396, 1903.8000000000002), (10954, 1902.1), (11002, 1902.0), (10420, 1897.6), (10706, 1893.0), (10294, 1887.6000000000001), (11041, 1887.0), (10880, 1875.0), (11070, 1873.5), (10750, 1871.25), (10249, 1863.4), (10812, 1852.0), (10729, 1850.0), (10464, 1848.0), (10449, 1838.2), (11059, 1838.0), (10551, 1836.0), (10368, 1834.2), (10389, 1832.8), (10537, 1823.8), (10470, 1820.8), (10650, 1820.1999999999998), (10554, 1819.5), (10418, 1814.8), (10250, 1813.0), (10984, 1809.75), (10442, 1792.0), (10475, 1770.8000000000002), (10543, 1770.0), (10740, 1770.0), (10684, 1768.0), (10399, 1765.6), (10829, 1764.0), (10957, 1762.7), (10309, 1762.0), (10485, 1760.0), (10441, 1755.0), (11035, 1754.5), (10429, 1748.5), (10260, 1746.2), (10971, 1733.0600000000002), (10346, 1731.2), (11055, 1727.5), (10727, 1710.0), (10373, 1708.0), (10707, 1704.0), (10769, 1704.0), (10751, 1701.46), (10660, 1701.0), (11036, 1692.0), (10459, 1688.0), (10765, 1684.0), (10680, 1682.5), (10404, 1675.0), (10527, 1670.0), (11052, 1665.0), (10808, 1660.0), (10617, 1650.0), (10784, 1650.0), (10758, 1644.6), (10686, 1638.45), (10800, 1632.15), (10869, 1630.0), (10408, 1622.4), (10878, 1620.0), (10312, 1614.8), (10343, 1586.0), (10799, 1585.0), (10457, 1584.0), (11018, 1575.0), (10722, 1570.0), (10572, 1565.6499999999999), (11046, 1564.0), (10488, 1560.0), (10362, 1549.6), (10553, 1546.3), (10645, 1535.0), (10664, 1515.75), (10834, 1508.12), (10603, 1508.0), (10626, 1503.6), (10978, 1500.7), (11023, 1500.0), (10734, 1498.35), (10325, 1497.0), (10278, 1488.8), (10768, 1477.0), (10596, 1476.1), (10481, 1472.0), (10866, 1461.6), (10733, 1459.0), (10272, 1456.0), (10284, 1452.0), (10884, 1450.6), (11063, 1445.5), (10253, 1444.8000000000002), (10783, 1442.5), (10392, 1440.0), (10859, 1438.25), (10649, 1434.0), (10623, 1429.75), (10675, 1423.0), (10644, 1422.0), (10297, 1420.0), (10380, 1419.8), (10283, 1414.8000000000002), (10606, 1413.0), (10499, 1412.0), (10968, 1408.0), (10946, 1407.5), (11022, 1402.0), (10624, 1393.24), (10504, 1388.5), (10497, 1380.6), (10635, 1380.25), (10270, 1376.0), (11077, 1374.6), (10357, 1360.0), (10989, 1353.6), (10526, 1344.0), (10779, 1335.0), (10717, 1331.75), (10471, 1328.0), (10681, 1327.0), (11045, 1309.5), (10564, 1299.0), (10728, 1296.75), (10292, 1296.0), (10715, 1296.0), (10665, 1295.0), (10659, 1291.6), (11029, 1286.8), (10388, 1274.0), (10421, 1273.2), (10486, 1272.0), (10627, 1264.5), (10999, 1261.0), (10619, 1260.0), (10560, 1257.3), (10803, 1255.8), (10966, 1255.6), (10837, 1254.0), (10474, 1249.1), (10303, 1242.0), (10712, 1238.4), (10885, 1209.0), (10411, 1208.5), (10653, 1203.5), (10277, 1200.8), (10995, 1196.0), (10407, 1194.0), (10319, 1191.1999999999998), (10265, 1176.0), (10929, 1174.75), (10370, 1174.0), (11027, 1170.3), (10328, 1168.0), (10557, 1152.5), (10690, 1150.0), (10590, 1140.0), (10820, 1140.0), (10944, 1139.1), (10781, 1132.35), (10719, 1125.67), (10469, 1125.5), (10919, 1122.8), (10961, 1122.0), (10257, 1119.9), (10846, 1112.0), (10356, 1106.4), (10268, 1101.2), (11047, 1090.5), (10643, 1086.0), (10749, 1080.0), (10439, 1078.0), (11000, 1075.0), (10697, 1073.9), (10580, 1067.1), (10608, 1064.0), (10387, 1058.4), (11076, 1057.0), (10849, 1052.1399999999999), (10472, 1051.1999999999998), (10296, 1050.6), (10444, 1031.7), (10825, 1030.76), (11026, 1030.0), (10423, 1020.0), (10377, 1016.0), (10902, 1015.8), (10982, 1014.0), (10833, 1007.7), (10403, 1005.9000000000001), (10736, 997.0), (10696, 996.0), (10994, 990.0), (10882, 988.4), (10326, 982.0), (10569, 977.5), (10842, 975.0), (10721, 972.5), (10563, 965.0), (11011, 960.0), (10379, 959.2), (10913, 958.75), (10677, 956.9), (10304, 954.4), (10333, 954.0), (10364, 950.0), (10529, 946.0), (10640, 945.0), (10923, 936.0), (10338, 934.5), (10901, 934.5), (10903, 932.05), (10828, 932.0), (10848, 931.5), (11066, 928.75), (10347, 928.0), (10487, 925.1), (10287, 924.0), (10933, 920.6), (10671, 920.1), (10744, 919.9999999999999), (10839, 919.5), (10630, 918.0), (10876, 917.0), (10447, 914.4), (10494, 912.0), (10976, 912.0), (10967, 910.4), (11050, 900.0), (10383, 899.0), (10492, 896.0), (10507, 881.25), (10552, 880.5), (10692, 878.0), (10774, 875.0), (10642, 870.0), (10385, 864.0), (10890, 860.1), (10911, 858.0), (11058, 858.0), (10811, 852.0), (10433, 851.1999999999999), (10835, 851.0), (10790, 850.0), (10293, 848.7), (10965, 848.0), (10525, 846.0), (10397, 843.1999999999999), (10827, 843.0), (10576, 838.45), (10931, 837.0), (10556, 835.1999999999999), (10367, 834.1999999999999), (10818, 833.0), (10502, 816.3), (10591, 812.5), (10611, 808.0), (10587, 807.38), (10410, 802.0), (10685, 801.1), (10597, 800.1), (10927, 800.0), (10983, 796.5), (10532, 796.35), (10958, 781.0), (10788, 770.0), (10574, 764.3), (10621, 758.5), (10480, 756.0), (10301, 755.0), (11038, 751.0), (10896, 750.5), (10939, 750.0), (10550, 749.0), (11020, 744.0), (10922, 742.5), (10850, 740.0), (10844, 735.0), (10826, 730.0), (10875, 729.5), (10264, 724.5), (10416, 720.0), (10780, 720.0), (10468, 717.6), (10975, 717.5), (10350, 713.4), (10463, 713.3), (10565, 711.0), (10943, 711.0), (10716, 706.0), (10483, 704.0), (10661, 703.25), (11009, 702.0), (10935, 700.0), (10908, 698.0), (10668, 694.75), (10916, 686.7), (10998, 686.0), (10821, 678.0), (10956, 677.0), (10269, 676.0), (10493, 676.0), (10477, 672.0), (10656, 671.35), (10251, 670.8), (10909, 670.0), (10654, 668.7), (10679, 660.0), (10856, 660.0), (10456, 656.0), (10726, 655.0), (10427, 651.0), (10858, 649.0), (10813, 648.0), (10571, 647.75), (11010, 645.0), (10937, 644.8), (10695, 642.0), (10724, 638.5), (10647, 636.0), (10435, 631.6), (10689, 630.0), (10636, 629.5), (10761, 629.5), (10254, 625.2), (10584, 625.0), (10853, 625.0), (10262, 624.8), (11015, 622.35), (10632, 620.0), (10512, 618.0), (10763, 616.0), (10280, 613.2), (10879, 611.3), (10300, 608.0), (10622, 605.0), (10888, 605.0), (10735, 596.0), (10704, 595.5), (11044, 591.5999999999999), (11005, 586.0), (11075, 586.0), (10862, 581.0), (10498, 575.0), (10806, 572.1), (10669, 570.0), (10936, 570.0), (10577, 569.0), (10832, 568.95), (10354, 568.8), (10438, 567.5), (10594, 565.5), (10942, 560.0), (10996, 560.0), (10925, 559.0), (11034, 554.4), (10291, 552.8), (10500, 550.8), (10720, 550.0), (10559, 547.8), (10592, 543.65), (10562, 543.0), (10915, 539.5), (10274, 538.6), (10443, 537.5999999999999), (10914, 537.5), (10676, 534.85), (10450, 531.4), (10651, 530.4), (11048, 525.0), (10860, 519.0), (10863, 519.0), (10256, 517.8), (10534, 517.4), (10315, 516.8), (10320, 516.0), (10926, 514.4), (11061, 510.0), (11071, 510.0), (10730, 509.75), (11062, 508.0), (10489, 502.20000000000005), (10639, 500.0), (10934, 500.0), (10306, 498.5), (10478, 496.0), (10542, 493.8), (10599, 493.0), (11016, 491.5), (10952, 491.2), (10432, 485.0), (10951, 482.9), (10355, 480.0), (10425, 480.0), (10600, 479.8), (10625, 479.75), (10289, 479.4), (10578, 477.0), (10819, 477.0), (10723, 468.45), (10279, 468.0), (10614, 464.0), (10506, 462.0), (10374, 459.0), (10453, 453.0), (10910, 452.9), (10358, 452.0), (10628, 450.0), (10261, 448.0), (10363, 447.2), (10798, 446.6), (10448, 443.4), (10394, 442.0), (10248, 440.0), (10974, 439.0), (10906, 427.5), (10307, 424.0), (10609, 424.0), (10276, 420.0), (10376, 420.0), (10797, 420.0), (10544, 417.2), (10454, 414.0), (10673, 412.35), (10341, 412.0), (11042, 405.75), (10365, 403.20000000000005), (10405, 400.0), (10792, 399.85), (10610, 399.0), (10528, 396.2), (10348, 396.0), (10794, 393.45), (10437, 393.0), (11006, 391.58000000000004), (10920, 390.0), (10891, 388.35), (10581, 387.5), (10785, 387.5), (10484, 386.2), (10648, 382.5), (10705, 378.0), (10682, 375.5), (10412, 372.0), (10917, 365.89), (10266, 364.79999999999995), (11013, 361.0), (10434, 360.0), (10732, 360.0), (10905, 360.0), (10940, 360.0), (11069, 360.0), (10613, 358.0), (10539, 355.5), (10517, 352.0), (10299, 349.5), (10771, 344.0), (11049, 342.0), (10426, 338.20000000000005), (10375, 338.0), (10873, 336.8), (10310, 336.0), (10743, 336.0), (10652, 331.78), (10582, 330.0), (10702, 330.0), (11003, 326.0), (10759, 320.0), (10409, 319.20000000000005), (10579, 317.75), (10336, 316.8), (10770, 315.0), (10874, 310.0), (10980, 310.0), (10275, 307.2), (10491, 305.3), (11054, 305.0), (11025, 300.0), (11073, 300.0), (11004, 295.38), (10973, 291.55), (10317, 288.0), (10725, 287.8), (10741, 285.0), (10864, 282.0), (10777, 280.0), (10970, 280.0), (10495, 278.0), (10960, 276.6), (10548, 275.1), (10446, 273.6), (11014, 270.2), (10311, 268.79999999999995), (11060, 266.0), (10840, 264.0), (10604, 256.5), (11065, 252.56), (10752, 252.0), (10972, 251.5), (10824, 250.8), (10945, 245.0), (11074, 244.29999999999998), (10318, 240.4), (10508, 240.0), (10739, 240.0), (10822, 237.89999999999998), (10467, 235.2), (10460, 234.8), (10414, 231.4), (10473, 230.39999999999998), (10775, 228.0), (10521, 225.5), (10947, 220.0), (10466, 216.0), (10843, 212.0), (10545, 210.0), (11043, 210.0), (10496, 200.0), (10520, 200.0), (11040, 200.0), (10655, 193.0), (10428, 192.0), (10793, 191.1), (10810, 187.0), (10476, 182.4), (10313, 182.39999999999998), (10708, 180.4), (10445, 174.9), (10386, 166.0), (10323, 164.4), (10870, 160.0), (10462, 156.00000000000003), (10282, 155.39999999999998), (10568, 155.0), (10959, 155.0), (10352, 154.0), (10881, 150.0), (10501, 149.0), (10505, 147.89999999999998), (10482, 147.0), (10334, 144.8), (10321, 144.0), (10899, 144.0), (10585, 142.5), (10349, 141.60000000000002), (10809, 140.0), (10538, 139.8), (10737, 139.8), (10928, 137.5), (10509, 136.8), (10366, 136.0), (10662, 125.0), (10295, 121.6), (10615, 120.0), (10699, 114.0), (10322, 112.0), (10381, 112.0), (10531, 110.0), (10950, 110.0), (10907, 108.5), (10969, 108.0), (10378, 103.19999999999999), (10415, 102.4), (10259, 100.8), (10867, 98.39999999999999), (10778, 96.5), (10710, 93.5), (10955, 93.0), (10371, 91.19999999999999), (10288, 89.0), (10308, 88.8), (10331, 88.5), (10753, 88.0), (11067, 86.85000000000001), (10281, 86.5), (10391, 86.39999999999999), (11019, 76.0), (10589, 72.0), (10887, 70.0), (10992, 69.6), (10963, 68.0), (10602, 65.0), (10683, 63.0), (10631, 62.0), (11037, 60.0), (10620, 57.5), (10754, 55.199999999999996), (10738, 52.349999999999994), (10422, 49.8), (10271, 48.0), (10674, 45.0), (10900, 45.0), (11051, 45.0), (11057, 45.0), (10815, 40.0), (10883, 36.0), (10898, 30.0), (10586, 28.0), (10767, 28.0), (10807, 18.4), (10782, 12.5)]

In [8]:
# Extraed el número de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe

import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="northwind"
)

mycursor = mydb.cursor()

query = ("""SELECT order_date, COUNT(order_id) AS pedidos_dia
FROM orders
GROUP BY order_date
ORDER BY pedidos_dia""")

mycursor.execute(query)

myresult = mycursor.fetchall()
f = pd.DataFrame(myresult, columns = ['fecha','cantidad de pedidos'])

print(f)

         fecha  cantidad de pedidos
0   1996-07-04                    1
1   1996-07-05                    1
2   1996-07-09                    1
3   1996-07-10                    1
4   1996-07-11                    1
..         ...                  ...
475 1998-04-27                    4
476 1998-04-30                    4
477 1998-05-05                    4
478 1998-05-06                    4
479 1998-02-26                    6

[480 rows x 2 columns]

In [6]:
# Extraer los pedidos hechos por "Nancy Daviolo"

import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="AlumnaAdalab",
database="northwind"
)

mycursor = mydb.cursor()

query = ("""SELECT *
FROM orders
WHERE employee_id IN
(SELECT employee_id
FROM employees
WHERE last_name = 'Davolio' AND first_name = 'Nancy')""")

mycursor.execute(query)

myresult = mycursor.fetchall()

df = pd.DataFrame(myresult, columns = ['order_id', 'customer_id', 'employee_id', 'order_date', 
'required_date', 'shipped_date', 'ship_via', 'freight', 'ship_name', 'ship_address', 
'ship_city', 'ship_region', 'ship_postal_code', 'ship_country'])

print(df)

# EJERCICIO 5: desconectar la conexión del servidor

mycursor.close()
mydb.close()

     order_id customer_id  employee_id order_date required_date shipped_date  \
0       10258       ERNSH            1 1996-07-17    1996-08-14   1996-07-23
1       10270       WARTH            1 1996-08-01    1996-08-29   1996-08-02
2       10275       MAGAA            1 1996-08-07    1996-09-04   1996-08-09
3       10285       QUICK            1 1996-08-20    1996-09-17   1996-08-26
4       10292       TRADH            1 1996-08-28    1996-09-25   1996-09-02
..        ...         ...          ...        ...           ...          ...
118     11064       SAVEA            1 1998-05-01    1998-05-29   1998-05-04
119     11067       DRACD            1 1998-05-04    1998-05-18   1998-05-06
120     11069       TORTU            1 1998-05-04    1998-06-01   1998-05-06
121     11071       LILAS            1 1998-05-05    1998-06-02          NaT
122     11077       RATTC            1 1998-05-06    1998-06-03          NaT

     ship_via  freight                     ship_name  \
0           1   140.51                  Ernst Handel
1           1   136.54                Wartian Herkku
2           1    26.93  Magazzini Alimentari Riuniti
3           2    76.83                    QUICK-Stop
4           2     1.35        Tradi�ao Hipermercados
..        ...      ...                           ...
118         1    30.09            Save-a-lot Markets
119         2     7.98      Drachenblut Delikatessen
120         2    15.67           Tortuga Restaurante
121         1     0.93             LILA-Supermercado
122         2     8.53    Rattlesnake Canyon Grocery

                                       ship_address     ship_city ship_region  \
0                                      Kirchgasse 6          Graz
1                                       Torikatu 38          Oulu
2                           Via Ludovico il Moro 22       Bergamo
3                                  Taucherstra�e 10     Cunewalde
4                           Av. In�s de Castro, 414     Sao Paulo          SP
..                                              ...           ...         ...
118                                 187 Suffolk Ln.         Boise          ID
119                                    Walserweg 21        Aachen
120                                Avda. Azteca 123   M�xico D.F.
121  Carrera 52 con Ave. Bol�var #65-98 Llano Largo  Barquisimeto        Lara
122                                 2817 Milton Dr.   Albuquerque          NM

    ship_postal_code ship_country
0               8010      Austria
1              90110      Finland
2              24100        Italy
3               1307      Germany
4          05634-030       Brazil
..               ...          ...
118            83720          USA
119            52066      Germany
120             5033       Mexico
121             3508    Venezuela
122            87110          USA

[123 rows x 14 columns]