In [1]:
# Creando BBDD desde Python

import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [2]:
# Función para añadir tablas a mi BBDD

def crear_tablas(password_server, query):

    import mysql.connector

    cnx = mysql.connector.connect(user='root', password= password_server,
                                host='127.0.0.1', database='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [3]:
contraseña_servidor = "AlumnaAdalab"

In [17]:
tabla_zapatillas = """CREATE TABLE Zapatillas (idZapatillas INT AUTO_INCREMENT NOT NULL PRIMARY KEY, Modelo VARCHAR(45), 
                    Color VARCHAR (45), Talla INT NOT NULL)"""

tabla_clientes = """CREATE TABLE Clientes (
		id_cliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(45) NOT NULL,
        numero_telefono INT NOT NULL,
        email VARCHAR(45) NOT NULL,
        direccion VARCHAR(45) NOT NULL,
        ciudad VARCHAR(45) DEFAULT NULL,
        provincia VARCHAR(45) NOT NULL, 
        pais VARCHAR(45) NOT NULL, 
        codigo_postal VARCHAR(45) NOT NULL)"""

tabla_empleados = """CREATE TABLE Empleados (id_empleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        nombre VARCHAR(45) NOT NULL, 
        tienda VARCHAR(45) NOT NULL, 
        salario INT DEFAULT NULL, 
        fecha_incorporacion DATE NOT NULL)"""

tabla_facturas = """CREATE TABLE Facturas (id_factura INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        numero_factura VARCHAR(45) NOT NULL,
        fecha DATE NOT NULL,
        idZapatillas INT NOT NULL,
        id_empleado INT NOT NULL,
        id_cliente INT NOT NULL,
        CONSTRAINT fk_facturas_zapatillas
        FOREIGN KEY (idZapatillas)
            REFERENCES Zapatillas (idZapatillas),
        CONSTRAINT fk_facturas_empleados
        FOREIGN KEY (id_empleado)
            REFERENCES Empleados (id_empleado),
        CONSTRAINT fk_facturas_clientes
        FOREIGN KEY (id_cliente)
            REFERENCES Clientes (id_cliente))"""

In [5]:
crear_tablas(contraseña_servidor, tabla_zapatillas)

CMySQLCursor: CREATE TABLE Zapatillas (idZapatillas IN..

In [10]:
crear_tablas(contraseña_servidor, tabla_clientes)

CMySQLCursor: CREATE TABLE Clientes (
		id_cliente INT..

In [12]:
crear_tablas(contraseña_servidor, tabla_empleados)

CMySQLCursor: CREATE TABLE Empleados (id_empleado INT ..

In [18]:
crear_tablas(contraseña_servidor, tabla_facturas)

CMySQLCursor: CREATE TABLE Facturas (id_factura INT NO..

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='mi_primerita_BBDD_Python'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('Clientes',)
('Empleados',)
('Facturas',)
('Zapatillas',)